h3 {
	font: 400 1.2em/1.4 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	margin: 0;
}
label,
input,
textarea { text-align: left; }
input,
textarea {
	background: #eee;
	border: none;
	border-radius: 3px;
	color: #111;
	font: 400 1.2em/1.4 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	margin: 0;
	padding: 1% 2%;
	width: 96%;
}
textarea { resize: vertical; }
input[type='reset'] { background: #777; color: #ddd; padding: 3% 6%; width: 100%; }
input[type='submit'] { background: #2980b9; color: #fff; padding: 2% 4%; width: 100%; }
#recaptcha_widget_div { float: right; }